.input-div-control {
  position: relative;
}

.input-control {
  width: 100%;
  padding: 0.7rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.input-div-control label {
  position: absolute;
  top: 43%;
  left: 0.75rem;
  transform: translateY(-50%);
  pointer-events: none;
  color: #666;
  transition: all 0.15s ease-in-out;
  transform-origin: top left;
}

.input-control:focus ~ label {
  top: -0.1rem;
  left: 0.75rem;
  font-size: 0.9rem;
  transform: translateY(-50%) scale(0.9); /* Adicionando uma escala para diminuir o tamanho */
  background-color: #fff;
  padding: 0 0.25rem;
}

.input-div-control {
  height: calc(3.5rem + 2px);
  line-height: 1.25;
}
